<div ng-controller="MainController" layout="column" ng-cloak class="md-inline-form">

<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>Calendar Events</span>
  </div>
</md-toolbar>

<!-- exact table from live demo -->
<div layout-padding layout="row" layout-align="end start">
    <md-button class="md-fab md-hue-2" aria-label="Profile">
          <md-icon class="btn-container" ng-click="save()"><i class="material-icons button">add</i></md-icon>
    </md-button>
    <md-button class="md-fab md-warn" aria-label="Profile">
          <md-icon class="btn-container" ng-click="delete($event)"><i class="material-icons button">delete</i></md-icon>
    </md-button>
</div>

<md-table-container>
  <table md-table md-row-select multiple ng-model="events.selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column><span>Summary</span></th>
        <th md-column><span>Start Date</span></th>
        <th md-column>End Date</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="event" md-select-id="name" md-auto-select ng-repeat="event in events.data">
        <td md-cell>{{event.summary}}</td>
        <td md-cell>{{event.start.dateTime}}</td>
        <td md-cell>{{event.end.dateTime}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

</div>